{% extends "layout.html" %}
{% block content %}
<body style="padding:0px; margin:0px; background:black;">
<nav class="navbar navbar-expand-lg navbar-dark " id="navbar">
  <a class="navbar-brand" href="#"><img src="{{url_for('static',filename='images/logo.jpg')}}" style="width:90px; height:80px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float:right;">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MARKETING SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
  </ul>

  </div>

</nav>
  <img src="{{url_for('static',filename='images/banner.jpg')}}"  style="width:100%;">


<h3 align="center">A LITTLE ABOUT US</h3>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
				<img src="{{url_for('static',filename='images/port.jpg')}}" style="width:100%; height:350px;" >
		</div>
		<div class="col-sm-6">
			<a href="#" class="btn btn-outline-primary">OUR MISSION</a> <a href="#" class="btn btn-outline-primary">OUR SKILLS</a>
			<p>language skills, working together to open up a poem in its original language and reassemble it in English. The result will translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English.<br> <br>The result will be new group together to open translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English.<br> <br>The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open </p>			
		</div>
	</div>
</div>

<h3 align="center"><u style="padding:2px 12px;">PORTFOLIO</u></h3>

<section class="menu" id="menu">

	<div class="content">
		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-1.jpg')}}">
			</div>

		</div>


		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-2.jpg')}}">
			</div>

		</div>


		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-3.jpg')}}">
			</div>

		</div>


		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-4.jpg')}}">
			</div>

		</div>
		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-5.jpg')}}">
			</div>

		</div>


		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-6.jpg')}}">
			</div>

		</div>


		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-7.jpg')}}">
			</div>

		</div>


		<div class="box">
			<div class="imgBx">
				<img src="{{url_for('static',filename='images/web-8.png')}}">
			</div>

		</div>

	</div>
</section>
<h3 align="center"><u>OUR SERVICES</u></h3>

<p style="text-align:center;">poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo </p>

<section class="service" id="expert">
		<div class="content">
			<div class="box">
				<div class="imgBx">
					<i class="fas fa-share-alt" style="font-size:26px;"></i>
					<h6>Social Media Marketing</h6>
				</div>
				<div class="text">
					<p style="text-align:justify;">poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations </p>

				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<i class="far fa-file-alt" style="font-size:26px;"></i>
					<h6>Content Marketing</h6>
				</div>
				<div class="text">
					<p style="text-align:justify;">poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations </p>

				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<i class="fab fa-searchengin" style="font-size:26px;"></i>
					<h6>Search Engine Marketing</h6>
				</div>
				<div class="text">
					<p style="text-align:justify;">poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations </p>

				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<i class="fas fa-tv" style="font-size:26px;"></i>
					<h6>Display Marketing</h6>
				</div>
				<div class="text">
					<p style="text-align:justify;">poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations </p>

				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<i class="fas fa-search" style="font-size:26px;"></i>
					<h6>Seo Services</h6>
				</div>
				<div class="text">
					<p style="text-align:justify;">poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations </p>

				</div>
			</div>
			<div class="box">
				<div class="imgBx">
					<i class="fas fa-globe" style="font-size:26px;"></i>
					<h6>WEBSITE DEVELOPMENT</h6>
				</div>
				<div class="text">
					<p style="text-align:justify;">poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian poems by Oladapo Olatubosun, Auwalu Anwar and Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations </p>

				</div>
			</div>
		</div>
	</div>

</section>

<h3 align="center"><u>OUR TEAM</u></h3>

<section class="menu">
	<div class="content">
		<div class="box">
		  <img src="{{url_for('static',filename='images/pic-1.png')}}"  style="width:100%; border-radius:50%;">
		  <h5 align="center">JOHS MARK</h5>
		  <p class="title" align="center">FOUNDER/CEO</p>
		  <p >contemporary Nigerian poems by Oladapo Olatubosun,  Amarachi Attamah.language skills,</p>
		  <div style="margin: 24px 0; text-align:center;">
      	  <a href="#"><i class="fab fa-facebook" style="color:white;"></i></a>
		  <a href="#"><i class="fab fa-twitter" style="color:white;"></i></a>
		  <a href="#"><i class="fab fa-instagram-square" style="color:white;"></i></a>
		  </div>
		</div>
		<div class="box">
		  <img src="{{url_for('static',filename='images/pic-2.png')}}"  style="width:100%;  border-radius:50%;">
		  <h5 align="center">ALEXANDER</h5>
		  <p class="title" align="center">CONTENT WRITTER</p>
		  <p >contemporary Nigerian poems by Oladapo Olatubosun, Amarachi Attamah.language skills,</p>
		  <div style="margin: 24px 0; text-align:center;">

      	  <a href="#"><i class="fab fa-facebook" style="color:white;"></i></a>
		  <a href="#"><i class="fab fa-twitter" style="color:white;"></i></a>
		  <a href="#"><i class="fab fa-instagram-square" style="color:white;"></i></a>
		  </div>
		</div>
		<div class="box">
		  <img src="{{url_for('static',filename='images/pic-3.png')}}" style="width:100%;  border-radius:50%;">
		  <h5 align="center">BRADFORD</h5>
		  <p class="title" align="center">DEVELOPER</p>
		  <p>contemporary Nigerian poems by Oladapo Olatubosun,  Amarachi Attamah.language skills,</p>
		  <div style="margin: 24px 0; text-align:center;">
      	  <a href="#"><i class="fab fa-facebook" style="color:white;"></i></a>
		  <a href="#"><i class="fab fa-twitter" style="color:white;"></i></a>
		  <a href="#"><i class="fab fa-instagram-square" style="color:white;"></i></a>
		  </div>
		</div>
	</div>
</section>

<h3 align="center"><u>OUR BLOGS</u></h3>
<div class="image" style="text-align:center;"><img src="{{url_for('static',filename='images/icons.jpg')}}" style="width:200px; height:200px; border-radius:50%;"></div>
<div class="contents" style="text-align:center;"><p >group translations of contemporary Nigerian poems by Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian </p></div>


<h3 align="center"><u>LETS TALK ABOUT YOUR PROJECT</u></h3>
<div class="contents">
<p>group translatio Auwalu Anwar and Amarachi Amarachi Attamah.language skills, working together to open up a poem in its original language and reassemble it in English. The result will be new group translations of contemporary Nigerian </p>
<div class="footer"><a href="#" class="contact">CONTACT US</a></div>
<br>

  <div class="footer"><a href="#"><i class="fab fa-facebook" style="color:white;"></i></a>
  <a href="#"><i class="fab fa-twitter" style="color:white;"></i></a>
  <a href="#"><i class="fab fa-instagram-square" style="color:white;"></i></a>
  <p>@copyright Allright reserved love at first sight</p></div>

</div>


</body>
{% endblock content %}